BillingInfo.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="BillInfo">

    <xs:complexType>

      <xs:sequence>

        <xs:element type="xs:short" name="BillNumber"/>

        <xs:element type="xs:date" name="BillDate"/>

        <xs:element type="xs:time" name="BillTime"/>

        <xs:element name="BillerDetails">

          <xs:complexType>

            <xs:simpleContent>

              <xs:extension base="xs:string">

                <xs:attribute type="xs:short" name="code"/>

                <xs:attribute type="xs:string" name="name"/>

              </xs:extension>

            </xs:simpleContent>

          </xs:complexType>

        </xs:element>

        <xs:element name="Customer">

          <xs:complexType>

            <xs:sequence>

              <xs:element type="xs:string" name="Name"/>

              <xs:element type="xs:date" name="DOB"/>

              <xs:element type="xs:long" name="Phone"/>

              <xs:element type="xs:string" name="Mail"/>

              <xs:element name="Address">

                <xs:complexType>

                  <xs:sequence>

                    <xs:element type="xs:string" name="Street_Addr1"/>

                    <xs:element type="xs:string" name="Street_Addr2"/>

                    <xs:element type="xs:string" name="PostCode"/>

                    <xs:element type="xs:string" name="Country"/>

                  </xs:sequence>

                </xs:complexType>

              </xs:element>

            </xs:sequence>

          </xs:complexType>

        </xs:element>

        <xs:element name="paymentDetails">

          <xs:complexType>

            <xs:sequence>

              <xs:element type="xs:string" name="paymentType"/>

            </xs:sequence>

          </xs:complexType>

        </xs:element>

        <xs:element name="CartItems" maxOccurs="unbounded" minOccurs="0">

          <xs:complexType>

            <xs:sequence>

              <xs:element name="ProductName">

                <xs:complexType>

                  <xs:simpleContent>

                    <xs:extension base="xs:string">

                      <xs:attribute type="xs:string" name="Category" use="optional"/>

                    </xs:extension>

                  </xs:simpleContent>

                </xs:complexType>

              </xs:element>

              <xs:element type="xs:short" name="UnitPrice"/>

              <xs:element type="xs:byte" name="Quantity"/>

            </xs:sequence>

          </xs:complexType>

        </xs:element>

      </xs:sequence>

    </xs:complexType>

  </xs:element>

</xs:schema>